
.pure-tree.main-tree {
  display: inline-block;
}

.pure-tree:not(.main-tree) {
  padding-left: 1.2em;
}

.pure-tree:not(.main-tree) li {
  overflow: hidden;
  height: 0;
  display: block;
}

.pure-tree label {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px dashed var(--border-color);
  padding: 0.5em 1% 0.5em 1%;
  justify-content: start;
  width: 90%;
  flex-direction: row-reverse;
  gap: 5px;
}

.pure-tree label:hover {
  color: var(--background-secondary);
}

.comp_type{
 display: none;
}
.comp_type:checked + .super-class {
 background-color: var(--background-mask);
}

.comp_type:checked ~ ul > li {
  height: auto;
}
 
.plus {
display: inline-block; 
background-repeat: no-repeat;
background-size: 16px 16px !important;
width: 16px;
height: 16px; 
}

.plus {
    background-image: url(https://img.icons8.com/material-rounded/24/ffffff/plus--v1.png);
}

.comp_type:checked + .super-class .plus {
    background-image: url(https://img.icons8.com/sf-regular-filled/48/FFFFFF/minus.png);
}