



summary {
  display: block;
  background-color: var(--ait);
  padding: 5px;
  border-radius: 3px;
}

summary::-webkit-details-marker {
  display: none;
}


.details_acc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  transition: max-height 500ms ease-out, border 0ms linear;
}

details[open] + .details_acc {
  max-height: 1000px;
  transition: max-height 500ms ease-in-out, border 0ms linear;
}