
:root {
  --transition-duration: 0.6s;
  --expanded-height: 800px;
  --collapsed-height: 100px;
  --border-radius: 4px;
}

details {

  cursor: pointer;
  transition: all calc(var(--transition-duration) / 2) linear;
  min-height: 30px;
  max-height: var(--collapsed-height);
  overflow: hidden;
  will-change: height;
}

details + details {
  margin-top: 10px;
}


details[open] {
  transition: all var(--transition-duration) linear;
  min-height: 100px;
  max-height: var(--expanded-height);
  will-change: height;
}

summary {
  outline: none;
  font-size: 16px;
  padding: 10px;
  background-color: var(--ait);
}
