.alert {
    z-index: 9999;
    width: 300px;
    height: fit-content;
    color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: none;
    word-wrap: break-word;
    align-items: flex-start;
    height: fit-content;
    flex-direction: column;
    gap: 10px;
}

.alert-child {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.alert-child:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.alert-child:hover .alert-progress {
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes alert-animation {
    79% {
        opacity: 1;
        visibility: visible;
    }
    80% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes progress-animation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.alert-progress {
    width: 100%;
    height: 5px;
    background-color: whitesmoke;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    animation: progress-animation 5s ease-in-out;
}

.alert-close {
    animation: alert-animation 6s ease-in-out;
}

.alert-close {
    animation-play-state: running;
    animation: alert-animation 6s ease-in-out;
}

.alert-normal {
    background-color: var(--normal-color);
}

.alert-success {
    background-color: var(--success-color);
}

.alert-info {
    background-color: var(--info-color);
}

.alert-warning {
    background-color: var(--warning-color);
}

.alert-danger {
    background-color: var(--danger-color);
}